/* make the left border larger to fit the collapse button */
body {
  position: relative;
}
.panel {
  border-left-width: 10px;
  position: relative;
}
.panel button {
  position: absolute;
  top: 0px;
  left: -9px;
  border: 0px;
  height:100%;
  width: 0px;
  color: transparent;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.collapsed button {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
button span {
  left: -6px;
}
.collapsed span {
  left: -7px;
}
.panel.collapsed {
  display: inline-block;
  height:24px;
  width:0;
}
/* remove the border and margin for pre blocks */
pre {
  padding: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
}

pre code {
  padding: 9.5px;
}

/* Magnific overrides to give transparent images a white background */
.mfp-image img{
  background: white;
}
.mfp-figure:after {
  background: white;
}

#toc {
  position: fixed;
  overflow-y: auto;
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.sidebar.affix {
  position: static;
}

/* First level of nav */
.sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.sidenav ul{
  list-style: none;
}

/* All levels of nav */
.sidebar ul > li > a {
  display: block;
  padding: 5px 20px;
}
.sidebar ul > li > a:hover,
.sidebar ul > li > a:focus {
  text-decoration: none;
  border-left: 1px solid;
}
.sidebar ul > .active > a,
.sidebar ul > .active:hover > a,
.sidebar ul > .active:focus > a {
  font-weight: bold;
  background-color: transparent;
  border-left: 1px solid;
}

/* Nav: second level (shown on .active) */
.sidebar ul ul {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.sidebar ul ul > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

.sidebar ul ul ul > li > a {
  padding-left: 40px;
}
.sidebar ul ul ul ul > li > a {
  padding-left: 50px;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  .sidebar ul > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .sidebar.affix,
  .sidebar.affix-bottom {
    width: 213px;
  }
  .sidebar.affix-top,
  .sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 30px;
  }
  .sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .sidebar.affix-bottom .sidenav,
  .sidebar.affix .sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .sidebar.affix-bottom,
  .sidebar.affix {
    width: 263px;
  }
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

/*#wrapper {*/
  /*padding-left: 0;*/
  /*-webkit-transition: all 0.5s ease;*/
  /*-moz-transition: all 0.5s ease;*/
  /*-o-transition: all 0.5s ease;*/
  /*transition: all 0.5s ease;*/
/*}*/

/*#wrapper.toggled {*/
  /*padding-right: 250px;*/
/*}*/

/*#sidebar-wrapper {*/
  /*z-index: 1000;*/
  /*position: fixed;*/
  /*right: 250px;*/
  /*width: 0;*/
  /*height: 100%;*/
  /*margin-right: -250px;*/
  /*overflow-y: auto;*/
  /*-webkit-transition: all 0.5s ease;*/
  /*-moz-transition: all 0.5s ease;*/
  /*-o-transition: all 0.5s ease;*/
  /*transition: all 0.5s ease;*/
  /*padding: 0;*/
  /*border: 0;*/
  /*border-radius: 0;*/
/*}*/

/*#wrapper.toggled #sidebar-wrapper {*/
  /*width: 250px;*/
/*}*/

/*#page-content-wrapper {*/
  /*width: 100%;*/
  /*padding: 15px;*/
/*}*/

/*#wrapper.toggled #page-content-wrapper {*/
  /*position: absolute;*/
  /*margin-left: -250px;*/
/*}*/

/*[> Sidebar Styles <]*/


/*.sidebar-nav ul {*/
  /*list-style: none;*/
/*}*/

/*.sidebar-nav > ul {*/
  /*margin: 0;*/
  /*padding: 0;*/
/*}*/

/*.sidebar-nav > ul li {*/
  /*text-indent: 20px;*/
/*}*/

/*.sidebar-nav > ul li li {*/
  /*text-indent: 10px;*/
/*}*/

/*.sidebar-nav > ul li a {*/
  /*display: block;*/
  /*text-decoration: none;*/
/*}*/

/*.sidebar-nav > ul li:hover {*/
  /*text-decoration: none;*/
  /*background-color: transparent;*/
/*}*/

/*.sidebar-nav > ul li:active,*/
/*.sidebar-nav > ul li:focus {*/
  /*text-decoration: none;*/
  /*background-color: transparent;*/
/*}*/


/*@media(min-width:768px) {*/
  /*#wrapper {*/
    /*padding-right: 250px;*/
  /*}*/

  /*#wrapper.toggled {*/
    /*padding-right: 0;*/
  /*}*/

  /*#sidebar-wrapper {*/
    /*width: 250px;*/
    /*padding: 19px;*/
  /*}*/

  /*#wrapper.toggled #sidebar-wrapper {*/
    /*width: 0;*/
  /*}*/

  /*#page-content-wrapper {*/
    /*padding: 20px;*/
  /*}*/

  /*#wrapper.toggled #page-content-wrapper {*/
    /*position: relative;*/
    /*margin-left: 0;*/
  /*}*/
/*}*/
